@{
    Layout = null;
}
@{
    HttpCookie cook = Request.Cookies["userInfo"];
    if (cook == null)
    {
        Response.Redirect("/Index");
    }
}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PaperFormatDetection</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/CSS/common.css">
    <link rel="stylesheet" href="/Content/CSS/header.css">
    <script src="/Content/Scripts/jquery.min.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <header id="home" class="gradient-violat">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Index">
                        <span class="logo-wraper logo-white">
                            <img src="/Resource/images/Logo.png" alt="">论文格式检测
                        </span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav  navbar-right">
                        <li class="active"><a href="/Index">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/Paper/Detection">论文检测</a></li>
                        <li><a href="/Paper/Records">检测历史</a></li>
                        <li><a href="#">报告分析</a></li>
                        <li id="logout">
                            <img src="/Resource/images/user.jpg" />
                            <div id="info">
                                <table class="table table-striped table-hover">
                                    <tr><td style="text-align:center;font-size:14px;padding-left:15px;">@cook["stuName"] 欢迎登录</td></tr>
                                    <tr><td style="text-align:left;font-size:14px;padding-left:15px;">学号:&nbsp; @cook["stuNum"]</td></tr>
                                    <tr><td style="text-align:left;font-size:14px;padding-left:15px;">学校:&nbsp; @cook["school"]</td></tr>
                                    <tr><td style="text-align:left;font-size:14px;padding-left:15px;">年级:&nbsp; @cook["grade"]</td></tr>
                                    <tr><td style="text-align:left;font-size:14px;padding-left:15px;">学生类型:&nbsp; @cook["stuType"]</td></tr>
                                    <tr><td style="text-align:left;font-size:14px;padding-left:15px;">联系电话:&nbsp; @cook["phone"]</td></tr>
                                    <tr><td style="text-align:left;font-size:14px;padding-left:15px;">
                                            <a href="/User/Logout" style="color:#ff0000;">退出登录</a></td></tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>    
    <div class="wrap">        
        @RenderBody();
    </div>
    <script>
        $("#logout").hover(function () {
            $("#logout img").attr('src', '/Resource/images/user1.jpg');
            $("#info").slideDown();
        }, function () {
            $("#logout img").attr('src', '/Resource/images/user.jpg');
            $("#info").slideUp();
        });
    </script>
</body>
</html>
